textarea {
    width: 100%; 
    resize: vertical;
    padding: 10px;
  }

ul{
  list-style-type: none;
}

.cancelReserve-btn{
  padding: 10px 20px;
  background-color: #a83424;
  color: #fff;
  margin-top: 10px;
}

.cancelReserve-btn:hover{
  background-color: #881f11;

}

.lessonTime{
  margin-right: 20px;
}