.profile {
    display: flex;
    flex: 1 1 auto
  }
  
.admin_panel {

    background-color: #e9eaff;
    padding: 20px;

}
  
.profile_info {
    padding: 10px 60px 50px 60px;
    width: 100%;
}



.profile_ul {
    list-style-type: none;
    padding: 0;
}

.profile_ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}

.profile_field {
    width: 100%;
    height: 40px;
}
  

.profile_ul li input{
    margin-left: 10px;
}

.profile_ul li span{
    width: 105px 
}

.btn{
    width: auto;
    padding: 5px 10px !important;
}

.filter_form{
    display: flex;
}

.filter_form input:not(:last-child) {
    margin-right: 5px;
}

.filter_form .date_input{
    width: 300px;
    height: 42px;
    font-size: large;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;

}

.successMsg{
    color: green;
}

input[type='email']{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;
}