.lessons{
    width: 100%;
    border: 1px solid black;
}

.room{
    margin-top: 35px;
}

.settingChanges{
    display: flex;
    justify-content: space-between;
}

.settingChanges label{
    margin-left: 10px;
    font-weight: normal;
}
